html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "DM Sans";
  font-size: 14px;
}

#root {
  height: 100%;
}

a {
  color: #0062FF;
  text-decoration: none;
}

.selected-flag {
  padding-left: 11px !important;
}

.react-code-input {
  display: flex !important;
  justify-content: space-between;
  & input {
    width: 42px !important;
    padding-left: 12px !important;
  }
}

// Blinking dots
@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}